/* Enter Your Custom CSS Here */

.maxbutton-homepage-mygsq, .maxbutton-homepage-gettingtogsq, .maxbutton-homepage-openinghours,
.maxbutton-homepage-supportgsq, .maxbutton-homepage-enews, .maxbutton-homepage-resourcecentre {
	margin: 0 -10px -16px -11px;
	padding: 0px 11px 2px 11px;
}

.maxbutton-aboutpage-historyofgsq, .maxbutton-aboutpage-branches, .maxbutton-aboutpage-affiliategroups,
.maxbutton-aboutpage-managementcommittee, .maxbutton-aboutpage-subcommittee, .maxbutton-aboutpage-gsqconstitution, 
.maxbutton-aboutpage-annualreports, .maxbutton-aboutpage-copyright, .maxbutton-aboutpage-policies,
.maxbutton-aboutpage-termsandconditions, .maxbutton-aboutpage-complimentsandcomplaints, .maxbutton-aboutpage-forms {
	margin: 0 -10px -16px -11px;
	padding: 0px 11px 2px 11px;
}

form{
	/*padding 10em; 	
    margin: 4em;*/
 }
	fieldset p{
 	    padding :5em; 
     }
label.field{
	/*font-weight: bold;*/
    float: left;
  	text-align:right;
    width: 100 px;
}
label.field2{
	font-weight: bold;
    /*float: left;/*
   /* width: 10 px;*/
}

fieldset{
  /* width: 500px;  */
  background-color: white;
	}
/*input.textbox{
  width:300px;
  padding: 4em;
  margin:2em;
  float:left;
}*/
/*input[type=text]{
   padding: .5em;
}*/
label span{
	color: red;
   font-weight: bold;
}
legend{
   font-weight: bold;
  color: #990033;
}
input[type=text]:focus {
    background-color: lightblue;
}
#surname{
	font-weight:bold;
    color: red;
}
#cityErr{
  font-weight:bold;
    color: red;
}
#forename{
	font-weight:bold;
    color: red;
}
#addressErr{
  font-weight:bold;
    color: red;
}
#gender{
	font-weight:bold;
    color: red;
}
#title{
	font-weight:bold;
    color: red;
}
#yob{
	font-weight:bold;
    color: red;
}
#emailID{
	font-weight:bold;
    color: red;
}
#confirm_email{
   font-weight:bold;
    color: red;
}
#areaCode{
   font-weight:bold;
    color: red;
}
#conditionError{
   font-weight:bold;
    color: red;
}
#familyError{
  font-weight:bold;
    color: red;
}
#directInfo{
 margin-left: 3em;
 color: blue;
 font-weight:bold;
 font-style:italic;
}
#singleInfo{
 margin-left: 3em;
 color: blue;
 font-weight:bold;
 font-style:italic;
}
#familyInfo{
 margin-left: 2.5em;
 color: blue;
 font-weight:bold;
 font-style:italic;
}
#branchInfo{
 margin-left: 2.5em;
 color: blue;
 font-weight:bold;
 font-style:italic;
}
#post1{
	font-weight:bold;
    color: red;
}
#state1{
    font-weight:bold;
    color: red;
}
/*input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 40px 50%;
    cursor: pointer;
}*/
 input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 40px 50%;
    cursor: pointer;
}
#example{height: 0px; overflow:hidden;}
#terms{
  color: blue;
 font-weight:bold;
}
#membershipTerms{
float:right;
}
#memberContact{
float:right;
 color: red;
}
#branchError{
  font-weight:bold;
   color: red;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th {
    background-color: #B56357;
    color: white;
}
table {
   width: 100%; 
   
}
table#t01, th#t01, td#t01 {
    border: 1px solid #7E6C54;
    border-collapse: collapse;
}
/*th, td {
    padding: 5px;
    text-align: left;
}*/
.small-text{
 font-size:x-small;
} 
.error {color: #FF0000;}

/*agree button in registration detail summary*/
#agreeNot{
  width: 12em;
  height: 2em;
  background-color:#ff5050;
  color: white;
 
}
#agree{
  width: 12em;
  height: 2em;
  background-color:#008000;
  color: white;
 float: right;
  /* margin-top: 3em; */
 
}
/*form fields headings in registration detail summary*/
.summaryLegend{
  background-color: #7E6C54;
   color: white;
   padding : 1em;
}
#summary2{
  color: white;
  font-size:large;
 
}
fieldset.summary{
  background-color: #7E6C54;
  color:black;
  padding: 1em;
  margin-bottom:1em;
  font-weight: bold;
}
/*pay button in membership fee detail page*/
#pay{
  width: 16em;
  height: 4em;
  background-color:#008000;
  color: white;
  margin-left:50%;
}

